*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    color: #957c3d;
    background-color: #002349;
    font-family: 'Libre Baskerville', serif;
}

.container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 60%;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.add{
    display: flex;
    width: 100%;
}

h1{
    font-size: 3rem;
    margin: 10px;
}

p{
    margin: 10px;
    font-size: 1.5rem;
}

img{
    margin: 10px;
}

@media (min-width:2559px){
    h1{
        font-size: 6rem;
    }
    p{
        font-size: 3rem;
    }
    .details{
        width: 45%;
    }
    img{
        height: 200px;
    }
}

@media (max-width:2559px) and (min-width:1601px){
    h1{
        font-size: 5rem;
    }
    p{
        font-size: 2.5rem;
    }
    .details{
        width: 50%;
    }
}

@media (max-width:1601px) and (min-width:1281px){
    h1{
        font-size: 4rem;
    }
    p{
        font-size: 2rem;
    }
    .details{
        width: 50%;
    }
}

@media(max-width:1201px) and (min-width:961px){
    h1{
        font-size: 3rem;
    }
    p{
        font-size: 1.5rem;
    }
    .details{
        width: 50%;
    }
}

@media(max-width:961px) and (min-width:841px){
    h1{
        font-size: 2.6rem;
    }
    p{
        font-size: 1.3rem;
    }
    .details{
        width: 50%;
    }
}

@media(max-width:841px){
    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .details{
        width: 100%;
    }
}

@media (max-width:601px) and (min-width:411px){
    h1{
        font-size: 2.5rem;
    }
    p{
        font-size: 1.25rem;
    }
    .container{
        height: 50%;
    }
}

@media (max-width:411px) and (min-width:351px){
    h1{
        font-size: 2rem;
    }
    p{
        font-size: 1rem;
    }
    .container{
        height: 40%;
    }
}

@media (max-width:351px) and (min-width:331px){
    h1{
        font-size: 1.5rem;
    }
    p{
        font-size: 1rem;
    }
    .container{
        height: 35%;
    }
}

@media (max-width:331px){
    p{
        font-size: 13px;
    }
    h1{
        font-size: 1.5rem;
    }
    .container{
        height: 30%;
    }
}